html {
	background-color: blue;
}

#octopus {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 200px;
}

#hat {
	position: absolute;
	display: block;
	margin: 41%;
	margin-top: -90px;	
	z-index: 1;
}

#glasses {
	position: absolute;
	display:block;
	margin: 45%;
	margin-top: 100px;
	z-index: 1;
}